<div id="RunkeeperStats">
    <h2>Runs</h2>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Start Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Distance (km)</th>
                <th scope="col">Calories</th>
            </tr>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>January 6, 2016</td>
                <td>45:03</td>
                <td>4.76</td>
                <td>356</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>January 6, 2016</td>
                <td>45:03</td>
                <td>4.76</td>
                <td>356</td>
            </tr>
        </tbody>
        </thead>
    </table>
</div>