<div id="RunkeeperStats" class="mdl-card mdl-shadow--8dp">
    <table class="mdl-data-table"></table>
</div>

<script>
    requirejs(["ViewModels/Runkeeper"], function (Runkeeper) {
        ko.applyBindings(Runkeeper, $("#RunkeeperStats")[0]);
    });
</script>