<div id="RunkeeperStats" class="mdl-card mdl-shadow--8dp">
    <table class="mdl-data-table"></table>
</div>

<script>
    requirejs(["ViewModels/Runkeeper"], function (Runkeeper) {
        var vm = new Runkeeper();

        vm.initialize({
            getRunsUrl : '@Url.Action("GetRuns", "Runkeeper", new { httproute = "" })'
        });

        ko.applyBindings(vm, $("#RunkeeperStats")[0]);
    });
</script>