<div id="StatsSummary" class="mdl-card mdl-shadow--8dp">
    <div class="cushion row">
        <div class="statBlock col-md-4">
            TOTAL DISTANCE
            <div class="statBlock-stat">323 mi</div>
        </div>
        <div class="statBlock col-md-4">
            TOTAL DURATION
            <div class="statBlock-stat">47h:53m </div>
        </div>
        <div class="statBlock col-md-4">
            TOTAL CALORIES
            <div class="statBlock-stat">48,133</div>
        </div>
    </div>
</div>