<div id="StatsSummary" class="mdl-card mdl-shadow--8dp">
    <div class="row-fuid cushion">
        <div class="statBlock">
            TOTAL DISTANCE
            <div class="statBlock-stat col-xs-4">323 mi</div>
        </div>
        <div class="statBlock">
            TOTAL DURATION
            <div class="statBlock-stat col-xs-4">47h:53m </div>
        </div>
        <div class="statBlock">
            TOTAL CALORIES
            <div class="statBlock-stat col-xs-4">48,133</div>
        </div>
    </div>
</div>