<div id="StatsSummary" class="mdl-card mdl-shadow--8dp">
    <div class="row-fuid cushion">
        <div class="statBlock">
            TOTAL DISTANCE
            <div class="statBlock-stat">323 mi</div>
        </div>
        <div class="statBlock">
            TOTAL DURATION
            <div class="statBlock-stat">47h:53m:12s </div>
        </div>
        <div class="statBlock">
            TOTAL CALORIES
            <div class="statBlock-stat">48,133</div>
        </div>
    </div>
</div>